nitrogen --restore
picom --animations --animation-for-open-window zoom --experimental-backends -b &
sxhkd -c ~/.config/sxhkd/sxhkdrc &
redshift -l 6.927079:79.861244 &
clipmenud &
udiskie &
setxkbmap -option caps:swapescape
